@{
    ViewBag.Title = "Core.Ventures";
}

<!-- One -->
<section id="one" class="main special">
    <div class="container">
        <span class="image fit primary"><img src="/content/images/gallery/building.jpg" alt="" /></span>
        <div class="content">
            <header class="major">
                <h2>About Us</h2>
            </header>
            <p>Waistcoat microdosing lomo literally blog photo booth organic, single-origin coffee fixie gentrify skateboard sriracha. Williamsburg kinfolk humblebrag, photo booth hashtag flexitarian keytar swag. Ethical tousled XOXO post-ironic everyday carry four loko, yuccie dreamcatcher art party organic actually fashion axe direct trade asymmetrical. Flannel direct trade marfa typewriter, farm-to-table shabby chic cardigan banh mi salvia single-origin coffee 8-bit butcher. PBR&B fanny pack bicycle rights messenger bag. Pitchfork craft beer schlitz jean shorts. Austin direct trade cred normcore.</p>

<p>Banh mi sustainable whatever distillery yr DIY. Beard drinking vinegar ugh chillwave hella organic. Godard wolf bushwick hella. Godard master cleanse viral, swag pork belly mixtape meditation neutra humblebrag drinking vinegar mustache cliche gastropub sustainable. Austin small batch asymmetrical gluten-free, letterpress pabst stumptown normcore migas bespoke. Single-origin coffee brooklyn shoreditch ramps kombucha trust fund, truffaut keffiyeh. Hammock trust fund direct trade hashtag.</p>
        </div>
        <a href="#two" class="goto-next scrolly">Next</a>
    </div>
</section>

<!-- Two -->
<section id="two" class="main special">
    <div class="container">
        <span class="image fit primary"><img src="/content/images/gallery/redline.jpg" alt="" /></span>
        <div class="content">
            <header class="major">
                <h2>Independence w/ Backing</h2>
            </header>
            <p>Waistcoat microdosing lomo literally blog photo booth organic, single-origin coffee fixie gentrify skateboard sriracha. Williamsburg kinfolk humblebrag, photo booth hashtag flexitarian keytar swag. Ethical tousled XOXO post-ironic everyday carry four loko, yuccie dreamcatcher art party organic actually fashion axe direct trade asymmetrical. Flannel direct trade marfa typewriter, farm-to-table shabby chic cardigan banh mi salvia single-origin coffee 8-bit butcher. PBR&B fanny pack bicycle rights messenger bag. Pitchfork craft beer schlitz jean shorts. Austin direct trade cred normcore.</p>
            <ul class="icons-grid">
                <li>
                    <a href="#" class="fancyboxLauncher">
                        <span class="icon major fa-film"></span>
                        <h3>Photos and Videos</h3>
                    </a>
                    <div style="display: none;">
                        <a class="fancyboxImage" rel="gallery1" href="/images/katepink.jpg" title="">
                            <img src="/images/katepink.jpg" alt="" />
                        </a>
                        <a class="fancyboxImage" href="https://vimeo.com/129394516">Vimeo</a>
                        <a class="fancyboxImage" rel="gallery1" href="/images/Gallery/bridge1.jpg" title="">
                            <img src="/images/Gallery/bridge1.jpg" alt="" />
                        </a>
                        <a class="fancyboxImage" rel="gallery1" href="/images/Gallery/lake michigan.jpg" title="">
                            <img src="/images/Gallery/lake michigan.jpg" alt="" />
                        </a>
                        <a class="fancyboxImage" rel="gallery1" href="/images/Gallery/tutu.jpg" title="">
                            <img src="/images/Gallery/tutu.jpg" alt="" />
                        </a>
                        <a class="fancyboxImage" rel="gallery1" href="/images/Gallery/tree.jpg" title="">
                            <img src="/images/Gallery/tree.jpg" alt="" />
                        </a>
                        <a class="fancyboxImage" rel="gallery1" href="/images/Gallery/bridge2.jpg" title="">
                            <img src="/images/Gallery/bridge2.jpg" alt="" />
                        </a>
                        <a class="fancyboxImage" rel="gallery1" href="/images/Gallery/underpass.jpg" title="">
                            <img src="/images/Gallery/underpass.jpg" alt="" />
                        </a>
                        <a class="fancyboxImage" rel="gallery1" href="/images/Gallery/view.jpg" title="">
                            <img src="/images/Gallery/view.jpg" alt="" />
                        </a>
                        <a class="fancyboxImage" rel="gallery1" href="/images/Gallery/headshot1.jpg" title="">
                            <img src="/images/Gallery/headshot1.jpg" alt="" />
                        </a>
                        <a class="fancyboxImage" rel="gallery1" href="/images/Gallery/headshot 2.jpg" title="">
                            <img src="/images/Gallery/headshot 2.jpg" alt="" />
                        </a>
                        <a class="fancyboxImage" rel="gallery1" href="/images/Gallery/no satisfaction.jpg" title="">
                            <img src="/images/Gallery/no satisfaction.jpg" alt="" />
                        </a>
                        <a class="fancyboxImage" rel="gallery1" href="/images/Gallery/no satisfaction 2.jpg" title="">
                            <img src="/images/Gallery/no satisfaction 2.jpg" alt="" />
                        </a>
                        <a class="fancyboxImage" rel="gallery1" href="/images/Gallery/pond.jpg" title="">
                            <img src="/images/Gallery/pond.jpg" alt="" />
                        </a>
                        <a class="fancyboxImage" rel="gallery1" href="/images/Gallery/praise.jpg" title="">
                            <img src="/images/Gallery/praise.jpg" alt="" />
                        </a>
                    </div>
                </li>
                <li>
                    <a href="#" class="fancyboxEvents">
                        <span class="icon major fa-calendar"></span>
                        <h3>Upcoming Performances</h3>
                    </a>

                    <div style="display: none">
                        <a class="fancyboxEvent" href="#event1" rel="events">event 1</a>
                        <a class="fancyboxEvent" href="#event2" rel="events">event 2</a>
                        <div class="event" id="event1">
                            <div>
                                <span class="icon major fa-calendar"></span>
                            </div>
                            <div>
                                July 31
                            </div>
                            <div>
                                <strong>Hubbard Street Dance Intensive Showcase</strong><br />
                                Hubbard Street Studios, Chicago, IL<br />
                                An informal performance that will showcase some of the work done throughout the summer intensive.
                            </div>
                        </div>
                        <div class="event" id="event2">
                            <div>
                                <span class="icon major fa-calendar"></span>
                            </div>
                            <div>
                                Aug 4
                            </div>
                            <div>
                                <strong>Hubbard Street Dance Intensive Showcase</strong><br />
                                Hubbard Street Studios, Chicago, IL<br />
                                An informal performance that will showcase some of the work done throughout the summer intensive.
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#choreography" class="fancybox">
                        <span class="icon major fa-paint-brush"></span>
                        <h3>Previous Choreography</h3>
                    </a>
                    <div style="display: none;">
                        <div class="infoPanel" id="choreography">
                            <div>
                                <span class="icon major fa-paint-brush left"></span>
                                <span class="infoTitle left">
                                    Choreography
                                </span>
                            </div>
                            <div class="clear"><strong>Contentions (2015)</strong> AMDA Dance Company Show</div>
                            <div><strong>The Illusionist (2015)</strong> AMDA Dance Concert</div>
                            <div><strong>Feeling the Empty (2014)</strong> AMDA Student Production</div>
                            <div><strong>What You’re Missing (2013)</strong> AMDA Dance Workshop</div>
                            <div><strong>The Equilibrium (2013)</strong> AMDA Dance Workshop</div>
                            <div><strong>My Strongest Suit (2012)</strong> Talent Forum Recital</div>
                            <div><strong>Non Senza (2012)</strong> Forum Jazz Dance Theater [Adjudicated by RDA]</div>
                            <div><strong>Senior Piece (2012)</strong> for Forum Jazz Dance Theater</div>
                            <div><strong>Opperon Effect (2012)</strong> Frederick Alexson Scholarship Awardee pas du deux</div>
                            <div><strong>Senior Piece (2012)</strong> for Lake Zurich High-School Orchesis</div>
                            <div><strong>Popular [Wicked] (2012)</strong> Talent Forum Solo</div>

                        </div>
                    </div>

                </li>
                <li>
                    <a href="#dance" class="fancybox">
                        <span class="icon major fa-heart"></span>
                        <h3>Previous Performances</h3>
                    </a>
                    <div style="display: none;">
                        <div class="infoPanel" id="dance">
                            <div>
                                <span class="icon major fa-heart left"></span>
                                <span class="infoTitle left">
                                    Performances
                                </span>
                            </div>
                            <div class="clear"><strong>C. Eule Dance Summer Soiree</strong>	Caron Eule</div>
                            <div><strong>Reflection: AMDA Dance Concert</strong>	Doriana Sanchez, Nicole Berger, Alex Little</div>
                            <div><strong>Four Quartets: AMDA Dance Concert</strong>	Marina Benedict, Nicole Berger</div>
                            <div><strong>Daylight Come</strong>	Ricky Palomino</div>
                            <div><strong>Body Language: AMDA Dance Concert</strong>	Kyle McHargh, Genevive Carson, Louis Jones</div>
                            <div><strong>Trip the Light Fantastic: AMDA Dance Concert</strong>	Tracy Silver, DJ Smart, Nicole Berger</div>
                            <div><strong>Flight: AMDA Dance Concert</strong>	Tracy Silver, Nicole Berger, Dasha Tertova</div>
                            <div><strong>Regional Dance America Nationals</strong>	Eddy Ocampo, Brent Caburnay</div>
                            <div><strong>LIFTED - Dance For Life</strong> 	Lizzie Mackenzie</div>
                            <div><strong>Elements Contemporary Ballet Concert</strong>	Mike Gosney</div>
                            <div><strong>Young! Tanzsommer</strong>	Eddy Ocampo</div>
                            <div><strong>Inaside Chicago Dance YTP – For The Cure</strong>	Richard Smith</div>
                            <div><strong>Dance for Life/The Next Generation</strong>	Eddy Ocampo</div>
                            <div><strong>Dance Chicago</strong>	Eddy Ocampo</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <a href="#three" class="goto-next scrolly">Next</a>
    </div>
</section>

<!-- Three -->
<section id="three" class="main special">
    <div class="container">
        <span class="image fit primary"><img src="/content/images/gallery/lakebridge.jpg" alt="" /></span>
        <div class="content">
            <header class="major">
                <h2>Performance Sample</h2>
            </header>
            <p>Below is a collection of performance highlights from previous shows. Choreographer credits go to Nicole Berger, xyz, abc</p>
            <ul class="actions">
                <li>
                    <a class="button special venobox" data-type="youtube" href="https://youtu.be/b1Ka0kWGHPA">Highlight Reel</a>
                </li>
            </ul>
        </div>
        <a href="#footer" class="goto-next scrolly">Next</a>
    </div>
</section>